/* Mobile device */
@media screen and (max-width:746px){
    .info-account{
        display: none;
    }
    .header .nav-item .nav-link::after{
        margin-left: 0;
        border: 0px;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }
    .header .nav-pc_none{
        display: block;
    }
    .product{
        display: block;
    }
    .contact{
        display: none;
    }
}
/* Tablet device */
@media screen and (max-width: 1240px){
    .header .nav-item a::after{
        margin-left: 0;
        border: 0px;
    }
    .contact{
        display: none;
    }
}